<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addNewTools</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <style>
        #mainframe{
            margin-left:20%;
            margin-right:20%;
            padding: 30px;}
        #toolInfo{
            margin-left: 20px;
            margin-right:20px;
            padding: 5px;
        }
    </style>

    <script>
        
        function loadToolInfo() {
            $(document).ready(function () {
                var webInfo=window.location.search;
                var toolID=webInfo.substr(1);
                $.getJSON("/loadAddingToolInfo",{inputID:toolID},function (data) {
                    $("#picture").attr("src",data.picture);
                    $("#toolName").attr("placeholder",data.name);
                    $("#buyingDate").attr("placeholder",data.purchaseDate);
                    $("#serviceLife").attr("placeholder",data.serviceLife);
                    $("#description").attr("placeholder",data.description);
                    $("#centerID").attr("placeholder",data.toolcenterID);
                    $("#minQuant").attr("placeholder",data.minQuant);
                    $("#price").attr("placeholder",data.price);
                })
            });
        }
        
        function updateNewTools() {
            var numbers=$("#newToolNumber").val();
            if(!(!isNaN(numbers)&&(parseInt(numbers)==numbers))){alert("please put in an integer as the number of new tools");}
            else
            {
                $.getJSON("/creatNewTools",{
                    name:$("#toolName").val(),
                    picture:$("#picture").val(),
                    purchaseDate:$("#buyingDate").val(),
                    serviceLife:$("#serviceLife").val(),
                    description:$("#description").val(),
                    toolcenterID:$("#centerID").val(),
                    minQuant:$("#minQuant").val(),
                    price:$("#price").val(),
                    number:numbers
                },function (data) {
                    if(data=="True"){alert("You have successfully added new tools!");}
                    else{alert("some error occurs");}
                })
            }
        }
    </script>


</head>
<body onload="loadToolInfo()">

<div id="mainframe">
    <h2>Add new tools...</h2>
    <div id="toolInfo">
        <img id="picture" height="200px" src="a.png"/> <br/>
        <label>Name: </label> <input type="text" id="toolName"/> <br/>
        <label>Purchase Date:</label> <input type="text" id="buyingDate"/> <br/>
        <label>Service Life: </label> <input type="text" id="serviceLife"/> <br/>
        <label>Description: </label> <input type="text" id="description"/> <br/>
        <label>Tool Center ID: </label> <input type="text" id="centerID"/> <br/>
        <label>Minimum Quantity: </label> <input type="text" id="minQuant"/> <br/>
        <label>Price: </label><input type="text" id="price"/> <br/>
    </div>
    <label>Number of new Tools: </label><input type="text" id="newToolNumber" placeholder="1"/><br/>
    <button id="updateTools" onclick="updateNewTools()">Add New Tool</button>
</div>

</body>
</html>