<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>engineerOrderPage</title>

    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <style>
        .mainFrame{
            margin-left:20%;
            margin-right: 20%;
        }
        #orderInfo{
            height: 500px;
            width:100%;
            padding:3%;
            overflow: scroll;
            border: solid gray 2px;
            background-color: rgb(210, 219, 211);
        }
        .page-header
        {
            font-family: Open Sans,sans-serif;
            color: rgb(92, 65, 61);
            margin-bottom: 0;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#logout").click(function(){
                $.get("/logout", function(data){
                    if (data["result"] == "True")
                        window.location.href = "login.html";
                    else
                        alert("Failed to log out!");
                });
            });
        });

        function showCurrentOrder() {
            $(document).ready(function () {
                $.getJSON("/currentOrder",function (data) {
                    if(data.result=="True")
                    {
                        var eleID=$("<p></p>").text("Service ID: "+data.orderID);
                        var eleDateTime=$("<p></p>").text("Reservation Time: "+data.onsiteTime);
                        var eleLocation=$("<p></p>").text("Reservation Location: "+data.location);
                        var eleTitle=$("<p></p>").text("Reason for Reservation: "+data.title);
                        var eleDes=$("<p></p>").text("Problem Description: "+data.description);
                        var eleRes=$("<p></p>").text(data.reservationTime+": The client has made a request");
                        var $Orderinfo=$("#orderInfo");
                        $Orderinfo.append(eleID,eleDateTime,eleLocation,eleTitle,eleDes,eleRes);

                        if(data.requestAcceptTime)
                        {
                            var eleRqACC=$("<p></p>").text(data.requestAcceptTime+": The request has been accepted by manager");
                            $Orderinfo.append(eleRqACC);
                        }
                        else
                        {
                            return;
                        }

                        if(!data.engineerConfirmTime)
                        {
                            $("#confirmAcceptTask").show();
                            return;
                        }
                        else
                        {
                            var eleEnAcc=$("<p></p>").text(data.engineerConfirmTime+": You accepted the task.");
                            $Orderinfo.append(eleEnAcc);
                        }

                        $("#requestTools").show();

                        if(!data.value){return;}

                        if(data.value=="High") {
                            if (data.keeperConfirmTime == "") {
                                return;
                            }
                            else {
                                var eleKeeAcc = $("<p></p>").text(data.keeperConfirmTime + ": Toolkeeper has accepted the task.");
                                $Orderinfo.append(eleKeeAcc);
                            }
                        }

                        if(!data.taskBeginTime){return;}
                        else
                        {
                            $("#requestTools").hide();
                            var eleTkBegin=$("<p></p>").text(data.taskBeginTime+": On-site task began!");
                            $Orderinfo.append(eleTkBegin);
                            if(data.value=="Low") {
                                $("#returnTools").show();
                            }
                        }

                        if(data.taskStatus=="True")
                        {
                            var eleEndTime=$("<p></p>").text(data.taskEndTime+": You have finished their work!");
                            $Orderinfo.append(eleEndTime);
                            $("#returnTools").hide();
                        }
                        else{return;}

                        if(!data.clientConfirmTime){return;}
                        else
                        {
                            var eleClCon=$("<p></p>").text(data.clientConfirmTime+": Client confirmed that the task had been finished");
                            $Orderinfo.append(eleClCon);
                        }

                        if(!data.managerConfirmTime){}
                        else
                        {
                            var eleManagCon=$("<p></p>").text(data.managerConfirmTime+": The manager confirmed that the task had been finished");
                            $Orderinfo.append(eleManagCon);
                        }

                    }
                    else{alert("Error");}
                });
            });
        }


        function engineerConTask() {
            $(document).ready(function () {
                var confirmation=confirm("Accept the request?");
                if(confirmation)
                {
                    $.getJSON("/engineerConfirmAccept",function (data) {
                        if(data.result=="True"){history.go(0);}
                        else
                        {alert("some error occurs!");}
                    });
                }
            })
        }
        
        function makeRequestForTools() {
            window.location.href="MakeAReservation.html";
        }


        function backToEngineerPersonalCenter() {
            window.location.href="engineerPersonalCenter.html";
            //window.location.href="/engineerPersonalCenter";
        }

        function returnTools(){
            window.location.href="engineerReturnTools.html";
        }

    </script>
</head>
<body onload="showCurrentOrder()">

<div class="header">
    <a class="logo" href="http://www.ge.com"><img src="../static/images/logo.png" width="40" height="40" alt="logo">
        <span>GE Store</span>
    </a>
    <a class="btn btn-link logout" id="logout"><b>Logout</b></a>
</div>

<div class="mainFrame">
    <h2 class="page-header">Service Progress</h2>
    <div id="orderInfo"></div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg" id="back" onclick="backToEngineerPersonalCenter()">BACK</button>
        </div>
        <button type="button" class="btn btn-success btn-lg" id="returnTools" onclick="returnTools()"
                style="float: right; margin: auto 10px; width: 150px; display: none;">Return Tools</button>
        <button type="button" class="btn btn-success btn-lg" id="requestTools" onclick="makeRequestForTools()"
                style="float: right; margin: auto 10px; width: 150px; display: none">Reserve Tools</button>
        <button type="button" class="btn btn-info btn-lg" id="confirmAcceptTask" onclick="engineerConTask()"
                style="float: right; margin: auto 10px; width: 150px; display: none">ACCEPT</button>
    </div>
    <br/>
</div>

</body>
</html>