<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keeperOrderPage</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <style>
        .mainFrame{
            margin-left:20%;
            margin-right: 20%;
        }
        #orderInfo{
            height: 500px;
            width:100%;
            padding:3%;
            overflow: scroll;
            border: solid gray 2px;
            background-color: rgb(210, 219, 211);
        }
        .page-header
        {
            font-family: Open Sans,sans-serif;
            color: rgb(92, 65, 61);
            margin-bottom: 0;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#logout").click(function(){
                $.get("/logout", function(data){
                    if (data["result"] == "True")
                        window.location.href = "login.html";
                    else
                        alert("Failed to log out!");
                });
            });

            $("#sendToolboxID").click(function() {
                var boxID = $("#toolboxID").val();
                if (boxID == null || boxID == "") {
                    alert("Please scan toolbox or input toolbox ID!");
                    $("#sendToolboxID").removeAttr("data-toggle data-dismiss data-target");
                    $("#toolboxID").focus();
                }
                else {
                    $("#sendToolboxID").attr({
                        "data-toggle": "modal",
                        "data-dismiss": "modal", "data-target": "#boxInfoAndAddress"
                    });
                    $("#showToolboxID").text("toolbox ID: " + boxID);
                    $.get("/scanBox", {toolboxID: boxID},
                            function (data, status) {
                                var toolboxPic = data.picture;
                                var toolboxModel = data.boxModel;
                                $("#boxPic").attr("src", toolboxPic);
                                $("#boxModel").text(toolboxModel);
                            });
                }
            });

            $("#sendAddress").click(function(){
                var onsiteAddress = $("#address").val();
                if (onsiteAddress == null || onsiteAddress == "")
                    alert("Please input on-site address!");
                else{
                    $.get("/onsiteAddress", {address:onsiteAddress},
                            function(data, status){
                                var response = data.result;
                                if (response == "False"){
                                    alert("Session error! Please input the address again.");
                                }
                                else{
                                    window.location.href = "leaseOrReturn.html";
                                }
                            });
                }
            });
        });

        function showCurrentOrder() {
            $(document).ready(function () {
                $.getJSON("/currentOrder",function (data) {
                    if(data.result=="True")
                    {
                        var eleID=$("<p></p>").text("Service ID: "+data.orderID);
                        var eleDateTime=$("<p></p>").text("Reservation Time: "+data.onsiteTime);
                        var eleLocation=$("<p></p>").text("Reservation Location: "+data.location);
                        var eleTitle=$("<p></p>").text("Reason for Reservation: "+data.title);
                        var eleDes=$("<p></p>").text("Problem Description: "+data.description);
                        var eleRes=$("<p></p>").text(data.reservationTime+": The client has made a request");
                        var $Orderinfo=$("#orderInfo");
                        $Orderinfo.append(eleID,eleDateTime,eleLocation,eleTitle,eleDes,eleRes);

                        if(data.requestAcceptTime)
                        {
                            var eleRqACC=$("<p></p>").text(data.requestAcceptTime+": The request has been accepted by manager");
                            $Orderinfo.append(eleRqACC);
                        }
                        else
                        {
                            return;
                        }

                        if(!data.engineerConfirmTime)
                        {
                            return;
                        }
                        else
                        {
                            var eleEnAcc=$("<p></p>").text(data.engineerConfirmTime+": The engineer accepted the task.");
                            $Orderinfo.append(eleEnAcc);
                        }

                        if(!data.keeperConfirmTime)
                        {
                            $("#keeperAcceptTask").show();
                            return;
                        }
                        else
                        {
                            var eleKeeAcc=$("<p></p>").text(data.keeperConfirmTime+": You accepted the task.");
                            $Orderinfo.append(eleKeeAcc);
                        }

                        $("#onsite").show();

                        if(!data.taskBeginTime){return;}
                        else
                        {
                            var eleTkBegin=$("<p></p>").text(data.taskBeginTime+": On-site task began!");
                            $Orderinfo.append(eleTkBegin);
                        }

                        if(data.taskStatus=="True")
                        {
                            var eleEndTime=$("<p></p>").text(data.taskEndTime+": Engineers have finished their work!");
                            $Orderinfo.append(eleEndTime);
                            $("#onsite").hide();
                        }
                        else{return;}

                        if(!data.clientConfirmTime){return;}
                        else
                        {
                            var eleClCon=$("<p></p>").text(data.clientConfirmTime+": Client confirmed that the task had been finished");
                            $Orderinfo.append(eleClCon);
                        }

                        if(!data.managerConfirmTime){}
                        else
                        {
                            var eleManagCon=$("<p></p>").text(data.managerConfirmTime+": The manager confirmed that the task had been finished");
                            $Orderinfo.append(eleManagCon);
                        }

                    }
                    else{alert("Error");}
                });
            });
        }


        function keeperConTask() {
            $(document).ready(function () {
                var confirmation=confirm("Accept the request?");
                if(confirmation)
                {
                    $.getJSON("/keeperConfirmAccept",function (data) {
                        if(data.result=="True"){history.go(0);}
                        else
                        {alert("some error occurs!");}
                    });
                }
            })
        }

        function backToKeeperPersonalCenter() {
            window.location.href="keeperPersonalCenter.html";
        }

    </script>
</head>
<body onload="showCurrentOrder()">

<div class="header">
    <a class="logo" href="http://www.ge.com"><img src="../static/images/logo.png" width="40" height="40" alt="logo">
        <span>GE Store</span>
    </a>
    <a class="btn btn-link logout" id="logout"><b>Logout</b></a>
</div>

<div class="mainFrame">
    <h2 class="page-header">Service Progress</h2>
    <div id="orderInfo" class="center-block"></div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg" id="back" onclick="backToKeeperPersonalCenter()">BACK</button>
        </div>
        <button type="button" class="btn btn-success btn-lg" id="onsite" data-toggle="modal"
                data-target="#scanToolbox" style="float: right; margin: auto 10px; width: 100px; display: none;">ONSITE</button>
        <button type="button" class="btn btn-info btn-lg" id="keeperAcceptTask" onclick="keeperConTask()"
                style="float: right; margin: auto 10px; width: 100px; display: none">ACCEPT</button>
    </div>
    <br/>
</div>

<div class="modal fade" id="scanToolbox" tabindex="-1">
    <div class="modal-dialog modal-lg" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Please scan toolbox or input toolbox ID</h4>
            </div>
            <div class="modal-body" style="width: 80%; margin: 0 10%">
                <div class="input-group">
                    <div class="input-group-addon">Toolbox ID</div>
                    <input type="text" class="form-control" placeholder="Please input toolbox ID" id="toolboxID" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#leaseOrReturn" id="sendToolboxID" data-dismiss="modal">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="boxInfoAndAddress" tabindex="-1">
    <div class="modal-dialog modal-lg" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title" ><span class="label label-default" id="showToolboxID">Toolbox ID:</span></h3>
            </div>
            <div class="modal-body" style="width: 80%; margin: 0 10%">
                <div style="max-width:460px; margin:0 auto;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" style="position: relative; left: 7%">
                                <div class="thumbnail">
                                    <img id="boxPic" src="../static/images/toolbox/u=1689388473,2369577905&fm=21&gp=0.jpg" alt=""
                                         style="padding: 15px 15px; border-bottom: 1px solid lightgray"/>
                                    <div class="caption">
                                        <h5 id="boxModel" style="text-align: center">Model of this toolbox.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="width: 80%; margin: 0 10%">
                <div class="input-group">
                    <div class="input-group-addon">Address</div>
                    <input type="text" class="form-control" placeholder="Please input address" id="address" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        data-target="#scanToolbox">BACK</button>
                <button type="button" class="btn btn-success" id="sendAddress">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>