<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>managerPersonalCenter</title>

    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <style>
        #mainFrame{
            margin-left:20%;
            margin-right:20%;
            padding: 30px;}
        #personalInfo{
            margin-left: 20px;
            margin-right:20px;
            padding: 5px;
        }
        #currentOrders{
            height: 300px;
            width: 760px;
            overflow: scroll;
            border: solid gray 2px;
            background-color: rgb(210, 219, 211);
        }
        .page-header
        {
            font-family: Open Sans,sans-serif;
            color: rgb(92, 65, 61);
            border-bottom: 2px solid lightgray;
        }
        #showToolboxID{
            border-radius: 0;
        }
    </style>

    <script>
        $(document).ready(function(){
            $("#logout").click(function(){
                $.get("/logout", function(data){
                    if (data["result"] == "True")
                        window.location.href = "login.html";
                    else
                        alert("Failed to log out!");
                });
            });

            $("#checkStorage").click(function(){
                window.location.href = "checkTheStorage.html";
            });
            $("#addNewTools").click(function(){
                window.location.href = "registerNewTools.html";
            });
            $("#checkLost").click(function(){
                window.location.href = "checkLoss.html";
            });
        });

        function showCurrentRequests() {
            $(document).ready(function () {
                $("#currentOrders").empty();
                var blankLine = $('<br />');
                $("#currentOrders").append(blankLine);
                $("#currentOrders").append(blankLine);
                $.getJSON("/orderInformation",function (data) {
                    if(data.result=="True"){
                        var numOfOrders=data.orders.length;
                        if(numOfOrders==0){$("#currentOrders").append('<p style="font-weight: bold; font-size: 20px">No results found!</p>');}
                        else {
                            for (var i = 0; i < numOfOrders; i++) {
                                var eleme = $('<button class="orders btn-link"' +
                                        'style="font-weight: bold; font-size: 16px; margin: 5px 0" onclick="ordersOnclick(this)"' +
                                        'id="' + data.orders[i].orderID + '"></button><br />').text(data.orders[i].title);
                                $("#currentOrders").append(eleme);
                            }
                        }
                    }
                    else
                    {
                        alert("Error");
                    }
                });
            });
        }

        function ordersOnclick(ee) {
            $(document).ready(function () {
                $.getJSON("/chooseOrderID",{orderID:ee.id},function (data) {
                    if(data.result=="True")
                    {
                        window.location.href="managerOrderPage.html";
                        //window.location.href="/orderStatus";
                    }
                    else{alert("some error occurs");}
                });
            });
        }

        function showManagerPersonalInfo() {
            $(document).ready(function () {
                $.getJSON("/whoAmI",function (data) {
                    if(data.result=="True")
                    {
                        $("#portrait").attr("src",data.picture);
                        $("#staffName").append(data.name);
                        $("#staffRemarks").append(data.remarks);
                        $("#hireData").append(data.hireDate);
                        $("#staffid").append(data.staffID);
                        $("#staffPosition").append(data.position);
                        $("#contactInfo").append(data.phoneNumber);
                    }
                    else{alert("Error");}
                })
            });
        }


        function changeTheThreshold() {
            $(document).ready(function () {
                var newValue=prompt("Please enter the new threshold","Please enter a number");
                if(isNaN(newValue)){alert("Please enter a number!");}
                else{
                    $.getJSON("/setNewThreshold",{threshold:newValue},function (data) {
                        if(data.result=="True"){alert("You have successfully changed the value threshold!");}
                        else{alert("some error occurs");}
                    });
                }
            });
        }
    </script>

</head>
<body  onload="showManagerPersonalInfo()">

<div class="header">
    <a class="logo" href="http://www.ge.com"><img src="../static/images/logo.png" width="40" height="40" alt="logo">
        <span>GE Store</span>
    </a>
    <a class="btn btn-link logout" id="logout"><b>Logout</b></a>
</div>

<div id="mainFrame">
    <h2 class="page-header">Personal Information</h2>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="picture" id="personalInfo">
                <img height="200px" id="portrait" class="center-block" src="../static/images/staff/r9.jpg"
                     style="padding: 15px 70px; border-bottom: 2px dashed rgb(189,201,201)" />
                <div class="caption">
                    <h4 id="staffName">Name: </h4>
                    <h4 id="staffPosition">Title: </h4>
                    <h4 id="staffID">Employee Number: </h4>
                    <h4 id="hireData">Boarding Date: </h4>
                    <h4 id="staffRemarks">Remarks: </h4>
                    <h4 id="contactInfo">Tel: </h4>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-lg btn-info btn-block status broken" id="currentRequests"
                    onclick="showCurrentRequests()">Show current requests</button>
        </div>
    </div>
    <br /><br />
    <h3 class="modal-title"><span class="label label-default" id="showToolboxID">Client Information:</span></h3>
    <div><ul id="currentOrders"></ul></div>
</div>

<h3>Tool Management</h3>
<div id="toolFunctions">

    <button id="checkStorage">Check Storage</button>
    <button id="addNewTools">Register New Tools</button>
    <button id="checkLost">Check Recent Loss</button>
    <button id="changeThreshold" onclick="changeTheThreshold()">Change Value Threshold</button>

</div>


</body>
</html>